name: Auto Deploy to Server (Docker)

on:
  push:
    branches:
      - main   # ทุกครั้งที่ push main จะ deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/my-next-app
            git pull origin main
            docker-compose down
            docker-compose build --no-cache
            docker-compose up -d
